<h1>1199SEIU Instructions</h1>

<% if params[ :secondary ] %>
  <h1>PLEASE UPLOAD <%= params[ :secondary ] %> AS SECONDARY IN MEDITOUCH!</h1>
<% end %>

<p>Please follow the steps below:</p>

<div class="steps">
  <ul>
    <li>Please click <a href="https://navinet.navimedix.com/" target="_blank">Here</a> to check eligibility.</li>
    <li>
       - If coverage is active, please accept the insurance.
       <br>
       - If coverage is not active, please ask for another card.
     </li>
  </ul>
</div>
