<h1>Allied Instructions</h1>

<% if params[ :secondary ] %>
  <h1>PLEASE UPLOAD <%= params[ :secondary ] %> AS SECONDARY IN MEDITOUCH!</h1>
<% end %>

<h3>There is no portal currently for Allied!</h3>

<p>Please follow the steps below:</p>

<ul>
  <li>Please call 1 (888) 292-0272 to get verification.</li>
  <li>If patient is eligible, enter patient insurance under Allied.</li>
  <li>Fill out verification form.</li>
</ul>
