<h1>HealthFirst Instructions</h1>

<% if params[ :secondary ] %>
  <h1>PLEASE UPLOAD <%= params[ :secondary ] %> AS SECONDARY IN MEDITOUCH!</h1>
<% end %>

<p>Please follow the steps below:</p>

<ul>
  <li>Please click <a href="https://login.healthfusion.com/" target="_blank">Here</a> to check eligibility.</li>
  <li>If patient is eligible, accept it as primary insurance!</li>
  <li>If MediTouch is showing that PATIENT IS NOT FOUND (see example 1 below), please refer <a href="https://secure.healthx.com/v3app/a/?6713520D04184E271C0D1D261C0E191A0C0A1C202400133E0600412100124D3C0D31001506311B1B1B0F293856463E170A041A2517177904161E115A1142751E050A1259004D5A0B437D0C53584351044B4A6C4A5532514859585343157C550255475058094F1C0721531C085C50001440224748355D50084451404379480008475E4C440C570C775A03085E5203430E6701063E011D53594300443A13080F11010549120E0D73575F0C575D48104B234248635D0358440743157B48050F415A54165D0D5A26590514480D1D011A264F526254215B2F27361209525958352B57435C5B2B7C2C522C5D555C36477636261450505F50573665/&tab=claims" target="_blank">HERE</a> to check eligibility. If patient is NOT FOUND there either, then please ask for another insurance.</li>
</ul>

<div class="example-holder">
  <div class="primary">
    <p>Example 1</p>
    <%= image_tag "Capture.PNG" %>
  </div>
</div>
