<h1>HealthFirst Instructions</h1>

<% if params[ :secondary ] %>
  <h1>PLEASE UPLOAD <%= params[ :secondary ] %> AS SECONDARY IN MEDITOUCH!</h1>
<% end %>

<p>Please follow the steps below:</p>

<ul>
  <li>Please click <a href="https://login.healthfusion.com/" target="_blank">Here</a> to check eligibility.</li>
  <li>If patient is eligible, accept it as primary insurance!</li>
</ul>
