<h1>MetroPlus Instructions</h1>

<% if params[ :secondary ] %>
  <h1>PLEASE UPLOAD <%= params[ :secondary ] %> AS SECONDARY IN MEDITOUCH!</h1>
<% end %>

<p>Please follow the steps below:</p>

<p>If the member ID contains 2 letters, 5 numbers, and 1 letter:
  <br> please click <a href="https://www.emedny.org/epaces/" target="_blank">Here</a> to verify eligibility
</p>
