<h1>MetroPlus Instructions</h1>

<% if params[ :secondary ] %>
  <h1>PLEASE UPLOAD <%= params[ :secondary ] %> AS SECONDARY IN MEDITOUCH!</h1>
<% end %>

<p>Please follow the steps below:</p>

<ul>
  <li>Please click <a href="https://providers.metroplus.org/my.policy" target="_blank">Here</a> to verify eligibility</li>
  <p>If coverage is active, please proceed with this insurance.</p>
  <p>If coverage is INACTIVE, please ask for another insurance card.</p>
  <div class="example-holder">
    <div class="primary">
      <p>Active</p>
      <%= image_tag "Metroplus Active.PNG" %>
    </div>
    <div class="secondary">
      <p>Inactive</p>
      <%= image_tag "Metroplus Inactive.PNG" %>
    </div>
  </div>
  <br>
</ul>
