<h1>Oxford Instructions</h1>

<% if params[ :secondary ] %>
  <h1>PLEASE UPLOAD <%= params[ :secondary ] %> AS SECONDARY IN MEDITOUCH!</h1>
<% end %>

<p>Please follow the steps below:</p>

<ul>
  <li>Please click <a href="https://provider.linkhealth.com/apps/secure/dashboards/provider-dashboard/" target="_blank">Here</a> to check eligibility.</li>
  <li>If patient is eligible, enter patient insurance under Oxford.</li>
</ul>
