<h1>United HealthCare Student Resources Instructions</h1>

<% if params[ :secondary ] %>
  <h1>PLEASE UPLOAD <%= params[ :secondary ] %> AS SECONDARY IN MEDITOUCH!</h1>
<% end %>

<p>Please follow the steps below:</p>

<ul>
  <li>Please click <a href="https://provider.linkhealth.com/apps/secure/dashboards/provider-dashboard/" target="_blank">Here</a> to check eligibility.</li>
  <ul>
    <li>Please make sure to choose Student Resources (74227) from the list: See Example 1 Below</li>
  </ul>
  <li>If coverage is active, please accept this insurance card.</li>
  <li>If coverage is NOT active, please ask for another insurance card!</li>
</ul>
