// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.dob-check {
  margin-bottom: 30px;
}

.ocr-single {
  display: none;
}

.ocr-double {
  display: none;
}

.hide-on-yesno {
  display: none;
}

.over-inst {
  display: none;
}
