// Place all the styles related to the instructions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.example-holder {
  clear: both;
}

.primary {
  float: left;
  margin-left: 50px;
}

.secondary {
  float: right;
  margin-right: 50px;
}

.primary img {
  width: 700px;
}

.secondary img {
  width: 700px;
}
